
                    <a class="btn btn-primary" href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': entity.id }) }}" }}">{{ "{{ \"Edit\"|trans }}" }}</a>
                    <a class="btn btn-danger" href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': entity.id }) }}" }}" onclick="return confirm('{{ "{{ \"Are you sure?\"|trans }}" }}');">{{ "{{ \"Delete\"|trans }}" }}</a>
