{% block extends %}
{{ "{% extends '::base.html.twig' %}" }}
{% endblock extends %}

{{ "{% set page_title = \"Create " }}{{ entity }}{{ "\"|trans %}" }}

{% block body %}
{{ "{% block body -%}" }}
<h1>{{ "{{ \"Create " }}{{ entity }}{{ "\"|trans }}" }}</h1>

<div class="panel panel-default">
    <div class="panel-body">
        {{ "{{ form(form) }}" }}
    </div>
</div>
{{ "{% endblock %}" }}
{% endblock body %}
